# Git
.git
.gitignore

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE files
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.factorypath
eclipse/

# Compiled class files
*.class

# Logs
*.log
logs/

# OS specific
.DS_Store
Thumbs.db